body {
    font-family: "Gill Sans", "Gill Sans MT", Calibri, sans-serif;
    font-size: 16px;
    background-color: #90ab7e;
    margin: 0;
}

header {
    text-align: center;
    margin: 20px;
    transition: letter-spacing 4s;
}

header:hover {
    letter-spacing: 10px;
}

nav {
    flex: 100%; 
    display: flex;
    background-color: #f5e3a4;
    position: sticky; 
    top: 0px; 
    margin: 20px 0px; 
    z-index: 3;
}

nav ul {
    flex: 2;
    display: flex;
    font-weight: bold; 
}

nav li {
  display: inline;
  text-align: center;
  flex: 1;
}

nav a {
  display: inline-block;
  text-transform: uppercase;
  text-decoration: none;
  color: black;
}

nav a:active {
    color: #db592a;
}

#intro {
    background-color: #db592a;
    display: flex;
    padding: 20px; 
    align-items: center;
}

#intro img {
    width: 50%;
    margin-right: 20px; 
}

#season {
    display: flex; 
    flex-direction: column; 
    font-size: 1.2em;
}

main img {
    width: 100%;
    opacity: 0%;
    position: absolute; 
    z-index: 1;
} 

article {
    padding: 30px; 
    display: flex; 
    flex-direction: column;
    justify-content: center;
    margin: 0px 20px; 
    color: black;
    position: relative; 
    z-index: 2;
}

.event {
    text-transform: uppercase;
    margin: 20px 0px; 
    padding: 10px; 
    display: flex;
    flex: 2;
    justify-content: space-between;
    align-items: center;
    border: 2px solid #f5e3a4;
}

.event div {
    flex-basis: 300px; 
}

.title {
    font-weight: bold;
}

.event span {
    background-color: black;
    color: white;
    padding: 10px; 
}

.event span:active {
    background-color: #db592a;
}

.event a{
    color: white; 
    text-decoration: none;
}

h3 {
    margin-top: 20px;
    text-transform: uppercase;
    font-size: 16px;
}

h4 {
    text-transform: uppercase;
    font-weight: normal;
}

.popup ul {
    font-style: italic;
    list-style-type: circle;
}

.button {
  transition: all 0.3s ease-out;
}

.overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 4;
  background: rgba(0, 0, 0, 0.7);
  transition: opacity 500ms;
  visibility: hidden;
  opacity: 0;
}

.overlay:target {
  visibility: visible;
  opacity: 1;
}

.popup {
  margin: 70px auto;
  padding: 20px;
  background: #f5e3a4;
  border-radius: 5px;
  width: 50%;
  position: relative;
  transition: all 5s ease-in-out;
}

.popup .close {
    position: absolute;
    top: 20px;
    right: 30px;
    transition: all 200ms;
    font-size: 30px;
    font-weight: bold;
    text-decoration: none;
    color: black;
}

.popup .close:hover {
    color: #db592a;
}

footer {
    background-color: #db592a;
    padding: 2px;
}

footer p {
    font-size: small;
    margin-left: 20px;
    color: white;
}

@media screen and (max-width: 500px) {
    header:hover {
        letter-spacing: 0px;
    }

    nav {
        position: static;
        margin: 0px;
    }

    nav ul {
        flex-direction: column;
        position: relative;
        right: 20px;
    }

    nav li {
        padding: 1px;
    }
    
    #intro {
        display: flex;
        flex-direction: column;
        padding: 20px; 
    }
    
    #intro img {
        width: 100%;
        margin: 0px;
    }

    #season {
        font-size: 1em;
    }

    article {
        margin: 0px 0px;
    }

    .event {
        display: grid; 
        grid-template-columns: 1fr; 
        grid-template-rows: 1fr 1fr 1fr 1fr;
        grid-gap: 5px;
    }

    .event span {
        text-align: center;
    }

    .popup {
        width: 80%;
        font-size: 0.8em;
    }

    h3 {
        margin-top: 30px; 
    }
} 

@media screen and (min-width: 1500px) {
    main img {
        opacity: 15%;
    }

    article {
        margin: 0px 100px; 
    }

    .event {
        border: 2px solid #f5e3a4;
    }

    .event div {
        flex-basis: 500px; 
    }

    footer {
        position: relative;
        top: 30px;
    }
}