p {
    font-size: 1.5em;
    margin-right: 50px;
    margin-left: 50px;
}

h1 {
    text-align: center;
}

h1, h2, h3, h4{
    margin-right: 50px;
    margin-left: 50px;
  }

li {
    font-size: 1.5em;
    margin-right: 50px;
    margin-left: 50px;

}

img {
    margin-right: 50px;
    margin-left: 50px;

}